<div class="card">
    <div class="card-body">

        <!-- Sorting -->
        <div class="form-group row">
            <div class="col-md-2">
                <label for="sorting" class="col-form-label">Сортировать по:</label>
            </div>
            <div class="col" id="sorting">
                <select class="form-control" [(ngModel)]="sortingValue" (change)=refreshHumans()>
                    <option *ngFor="let sortValue of humanSortingValues" [ngValue]="sortValue">
                        {{sortValue}}
                    </option>
                </select>
            </div>
            <div class="col">
                <select class="form-control" [(ngModel)]="filteringCareer" (change)=refreshHumans()>
                    <option *ngFor="let career of humansCareers" [ngValue]="career">
                        {{career}}
                    </option>
                </select>
            </div>
            <div class="col">
                <select class="form-control" [(ngModel)]="filteringGenre" (change)=refreshHumans()>
                    <option *ngFor="let genre of humansGenres" [ngValue]="genre">
                        {{genre}}
                    </option>
                </select>
            </div>
        </div>

        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Дата рождения</th>
                    <th scope="col">Карьера</th>
                    <th scope="col">Количество фильмов</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let human of humans; index as i">
                    <td>{{i + 1}}</td>
                    <td><a class="card-link" routerLink="/humans/{{human.id}}">{{human.firstName}}
                            {{human.lastName}}</a></td>
                    <td><span>{{human.birthDate | date:'dd MMM, yyyy':'UTC':'ru'}}</span></td>
                    <td>
                        <span *ngFor="let career of human.humanCareers">
                            <!-- add all queryParams, not just country one, for a correct browser history -->
                            <a class="card-link" [routerLink]="['/humans']"
                                [queryParams]="{career:career, genre:filteringGenre, sort:sortingValue}">{{career}} </a>
                        </span>
                    </td>
                    <td>{{human.totalFilms}}</td>
                </tr>
            </tbody>
        </table>

        <!-- need to check it for undefined, because page doesn't load fast enough -->
        <div *ngIf="page">
            <app-pager [page]="page" (clickedPageNumber)="changeCurrentPage($event)"></app-pager>
        </div>

    </div>
</div>